/*
* Borrowed from #container in original style sheet
*/
.container {
    background: var(--bg_page);
    height: 100vh;
    margin: 0 auto;
    padding: 0.5em 1.5em;
    width: 800px;
}

/*
* Nav Styling
*/
nav.main-nav {
    /* width: 95vw; */
    width: 100%;
    font-size: 1.2rem;
}

nav.main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav.main-nav a {
    text-decoration: none;
    color: var(--highlight);
    transition: text-shadow 0.15s ease-in-out;
}

nav.main-nav a:hover,
nav.main-nav a:focus {
    text-shadow: var(--highlight_lighter) 0 0 0.5em;
}

/*  */
code.code-demo {
    white-space: pre;
    display: block;
    padding: 1em;
}

code.code-demo .red {
    color: hsl(258, 65%, 50%);
    font-weight: bold;
}

code.code-demo .grey {
    color: hsl(215, 20%, 30%);
    font-weight: bold;
    opacity: 0.7;
}

article {
    background: white;
    padding: 1rem;
    border-radius: 8px;
}

div.live-demo {
    background: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1em 5em;
    color: white;
}