@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600&display=swap');

/* overide container height */
#container {
    height: 100%;
}

/*
* Nav Styling
*/
nav.main-nav {
    /* width: 95vw; */
    width: 100%;
    font-size: 1.2rem;
}

nav.main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav.main-nav a {
    text-decoration: none;
    color: var(--highlight);
    transition: text-shadow 0.15s ease-in-out;
}

nav.main-nav a:hover,
nav.main-nav a:focus {
    text-shadow: var(--highlight_lighter) 0 0 0.5em;
}

article {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    margin: 2rem 1rem;
}

article,
button,
pre,
.live-demo {
    box-shadow: #0006 0 3px 3px 0;
}

/* syntax highlighting rules */
pre {
    background: var(--bg_body);
    color: var(--highlight);
    border-radius: 4px;
    padding: 3px;
}

.code-demo {
    white-space: pre;
    display: block;
    padding: 1em;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    overflow-y: scroll;
    letter-spacing: .08em;
    line-height: 1.45em;
    text-shadow: hsla(215, 20%, 30%, .75) 0 1px 1px;
}

.code-demo .hard {
    color: hsl(258, 65%, 50%);
    font-weight: 600;
}

.code-demo .soft {
    color: hsl(215, 20%, 30%);
    font-weight: 600;
    opacity: 0.7;
}

/* Typing Animation Live Demo Style Rules */
#typing-animations .live-demo {
    background: #3a0b26e0;
    height: 6em;
    color: white;
    font-family: 'Source Code Pro', monospace;
    padding: .8em;
    letter-spacing: .1em;
    border-radius: .2em;
    margin: 1em;
    text-shadow: #0008 0 1px 1px;
}

#typing-animations .live-demo span {
    display: inline;
    font-weight: 400;
}

#typing-animations .live-demo span.user {
    color: #4e9a06;
    font-weight: 600;
}

#typing-animations .live-demo span.host {
    color: #3465a4;
    font-weight: 600;
}

#typing-animations .live-demo span.cursor {
    font-size: 1.2em;
    font-weight: 600;
    animation: flash-cursor 1.8s infinite;
    margin-left: .2em;
}

@keyframes flash-cursor {
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
}

#typing-animations .live-demo__controls {
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
    margin: 1em;
}

#typing-animations .live-demo__controls button {
    border: none;
    border-radius: .2em;
    font-size: 1em;
    width: 10em;
    height: 3em;
    color: var(--bg_body);
    background:hsl(215, 65%, 45%);
    font-family: "Poppins", sans-serif;;
    font-weight: 400;
    line-height: 1.2em;
    cursor: pointer;
    transition: background .5s;
}

#typing-animations .live-demo__controls button:hover {
    background: var(--highlight);
    transform: translateY(-1px);
    box-shadow: #444d 0 3px 3px;
}
